main {
  min-height: 80vh;
}

.navbar-bg {
  background-color: #081778;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #ffec20;
}

.rating-text {
  font-size: 0.85rem;
  font-weight: 600;
  padding-left: 0.55rem;
}

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}